html, body {
  margin: 0; padding: 0;
  background-color: rgb(156, 168, 137);
  background-image: url("./background-campagne.png");
  background-size: 100% auto; 
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
}
ul{ list-style-type: none;}
h1, h2 { margin: 0; padding:0; }
h1{ font-size: 1.3vw; }
h2{ font-size: 1vw; }

.App {
  position: relative;
  height: 100vh;
  margin: 0 20%;
  padding-top: 26px;
}


/*-----------------------------------------------------------------------
 *------------------------------SEARCH BAR-------------------------------
 *----------------------------------------------------------------------*/

.Search{
  position: absolute; z-index: 3;
  margin: 1vw 35vw;
  width: 20vw;
  padding: 1%;
  border-radius: 7px;
  background: rgb(63, 80, 59);
}
.Search>*{ 
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 1%;
}


/*-----------------------------------------------------------------------
 *------------------------------BACKGROUND-------------------------------
 *----------------------------------------------------------------------*/

.Pokedex-bg { position: absolute; z-index: 0; }

.Pokedex-button{
  position: absolute; 
  z-index: 3;
  top: calc(33.2vw + 26px); left: 2.3vw;
  width: 3vw; height: 3vw;
  border-radius: 50%;
  background: rgb(58, 58, 58);
  border: 2px solid black;
}
.Pokedex-button:hover{
  cursor: pointer;
  background-color: rgb(66, 66, 66);
}
.Pokedex-button:active{
  background-color: transparent;
  border: none;
}

[class*="Pokedex-light"]{
  position: absolute;
  top: calc(2vw + 26px);
  width: 1.8vw; height: 1.82vw;
  border-radius: 50%;
  border: 0.05vw solid black;
}

.Pokedex-light-blue{
  top: calc(2.1vw + 26px); left: 2.8vw;
  width: 5.5vw; height: 5.5vw;
}
.Pokedex-light-red{ left: 17.1%; }
.Pokedex-light-yellow{ left: 21.7%; }
.Pokedex-light-green{ left: 26.3%; }

/*-----------------------------------------------------------------------
 *------------------------------ANIMATIONS-------------------------------
 *----------------------------------------------------------------------*/

.flash-animation-blue{
  animation-name: blueFlash;
  animation-duration: .8s;
  animation-iteration-count: 3;
}
.flash-animation-red{
  animation-name: redFlash;
  animation-duration: .8s;
}
.flash-animation-yellow{
  animation-name: yellowFlash;
  animation-duration: .8s;
  animation-delay: .8s;
}
.flash-animation-green{
  animation-name: greenFlash;
  animation-duration: .8s;
  animation-delay: 1.6s;
}

@keyframes blueFlash {
  0%   { box-shadow: 0; }
  60%  { box-shadow: 0px 0px 7vw rgb(195, 226, 255); 
         background-color: rgba(78, 147, 250, 0.5);}
  100% { box-shadow: 0; }
}
@keyframes redFlash {
  0%   { box-shadow: 0; }
  60%  { box-shadow: 0px 0px 3vw rgb(255, 195, 195); 
         background-color: rgba(255, 0, 0, .5);}
  100% { box-shadow: 0; }
}
@keyframes yellowFlash {
  0%   { box-shadow: 0; }
  60%  { box-shadow: 0px 0px 3vw rgb(255, 254, 195); 
         background-color: rgba(255, 255, 0, .5);}
  100% { box-shadow: 0; }
}
@keyframes greenFlash {
  0%   { box-shadow: 0; }
  60%  { box-shadow: 0px 0px 3vw rgb(197, 255, 195);
         background-color: rgba(12, 223, 12, .5);}
  100% { box-shadow: 0; }
}


/*-----------------------------------------------------------------------
 *--------------------------------COLORS---------------------------------
 *----------------------------------------------------------------------*/
 
 .normal{ color: rgb(196, 196, 196); }
 .fighting{ color: rgb(180, 139, 88); }
 .flying{ color: rgb(108, 184, 228); }
 .poison{ color: rgb(175, 61, 252); }
 .ground{ color: rgb(212, 151, 58); }
 .rock{ color: rgb(216, 189, 163); }
 .bug{ color: rgb(198, 235, 67); }
 .ghost{ color: rgb(137, 134, 182); }
 .steel{ color: rgb(213, 217, 223); }
 .fire{ color: rgb(253, 103, 33); }
 .water{ color: rgb(31, 143, 235); }
 .grass{ color: rgb(134, 214, 102); }
 .electric{ color: rgb(248, 229, 53); }
 .psychic{ color: rgb(218, 129, 163); }
 .ice{ color: rgb(120, 226, 240); }
 .dragon{ color: rgb(113, 82, 228); }
 .dark{ color: rgb(128, 109, 81); }
 .fairy{ color: rgb(247, 175, 241); }
 .unknown{ color: white; }
 .shadow{ color: rgb(160, 146, 137); }
 

/*-----------------------------------------------------------------------
 *--------------------------------TABLETS--------------------------------
 *----------------------------------------------------------------------*/

@media screen and (max-width: 1024px){
  .html, body{
    background-size: auto 100%; 
  }
  .App {margin: 0 5%;}
  .Search{
    margin-left: 55vw;
    width: 28vw; 
  }
  [class*="Pokedex-light"]{
    width: 2.75vw; height: 2.75vw;
    top: calc(26px + 3vw);
  }
  .Pokedex-light-blue{
    top: calc(3.1vw + 26px); left: 4.2vw;
    width: 8.3vw; height: 8.3vw;
  }
  .Pokedex-light-red{ left: 17%; }
  .Pokedex-light-yellow{ left: 21.7%; }
  .Pokedex-light-green{ left: 26.3%; }
  .Pokedex-button{
    top: calc(26px + 49.9vw); left: 3.6vw;
    width: 4.4vw; height: 4.4vw;
  }
}


/*-----------------------------------------------------------------------
 *--------------------------------PHONES---------------------------------
 *----------------------------------------------------------------------*/

@media screen and (max-width: 768px){
  .App {margin: 0;} 
  .Search{
    top: 22px;
    margin: 0 60vw;
    width: 32vw;
  }
  [class*="Pokedex-light"]{
    width: 3.1vw; height: 3.1vw;
    top: calc(26px + 3.3vw);
  }
  .Pokedex-light-blue{
    top: calc(3.4vw + 26px); left: 4.6vw;
    width: 9.15vw; height: 9.15vw;
  }
  .Pokedex-light-red{ left: 17%; }
  .Pokedex-light-yellow{ left: 21.6%; }
  .Pokedex-light-green{ left: 26.2%; }
  .Pokedex-button{
    top: calc(26px + 49.9vw); left: 3.6vw;
    width: 4.4vw; height: 4.4vw;
  }
  .Pokedex-button{
    top: calc(55.5vw + 26px); left: 3.9vw;
    width: 4.8vw; height: 4.8vw;
  }
}
